<!-------- footer ---------->

<section class="footer">
    <h4>About Us</h4>
    <p>Escarta Private Limited is an Award Winning technology company working with global Enterprises, SME’s and forward-thinking Start-Ups as their end-to-end solution <br/>partners for custom-tailored software, web and mobile apps. Through a combination of smart planning, design thinking approach, <br/>and the latest technologies, we help our clients to accelerate their business efficiency. </p>
    <br>
    <div class="icons">
        <a href="https://www.facebook.com/nsbm.lk"><i class="fa-brands fa-facebook-f"></i></i></a>
        <a href="https://twitter.com/NSBM_SriLanka"><i class="fa-brands fa-twitter"></i></i></a>
        <a href="https://www.instagram.com/accounts/login/?next=/nsbmgreenuniversity/"><i class="fa-brands fa-instagram"></i></a>
        <a href="https://www.linkedin.com/school/nsbmgreenuniversity/mycompany/"><i class="fa-brands fa-linkedin"></i></a>
        
    </div>
    <br>
    <a class="footer-link"><p><i class="fa fa-university"></i></p></a>
        
    <br>
    <p>Copyright © 2022 - Escarta Private Limited - All Rights Reserved. Design & Development by Anushka Sandeepa</p>
</section>    